@use 'variables' as v;
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import 'reset';
@import 'animations';

body {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: v.$dark;
    background-color: v.$white-grey;
    margin: 0;
}
