@use 'src/styles/variables' as v;
@use 'src/styles/media-query' as media;

.circleButton {
    display:         flex;
    align-items:     center;
    justify-content: center;
    border-radius:   50%;
    cursor:          pointer;
    transition:      300ms;
    background:      white;
    -webkit-tap-highlight-color: transparent;

    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }

    &.outlined {
        border-width: 1px;
        border-style: solid;
        border-color: v.$dark;
        will-change:  border-color, background-color;

        &:not(:disabled):hover {
            border-color:     v.$blue;
            background-color: v.$light-blue;
        }
    }

    &.filled {
        box-shadow:  0 0 15px 0 rgba(56, 119, 238, 0.1);
        border:      none;
        will-change: box-shadow;

        &:not(:disabled):hover {
            box-shadow: 0 0 20px 5px rgba(56, 119, 238, 0.15);
        }
    }

    &.sm {
        width: 40px;
        height: 40px;
    }

    &.md {
        width: 50px;
        height: 50px;
    }

    &.lg {
        width: 60px;
        height: 60px;
    }

    @include media.lg {
        &.sm {
            width: 30px;
            height: 30px;
        }

        &.md {
            width: 40px;
            height: 40px;
        }

        &.lg {
            width: 50px;
            height: 50px;
        }
    }

    @include media.md {
        &.sm {
            width: 25px;
            height: 25px;
        }

        &.md {
            width: 35px;
            height: 35px;
        }

        &.lg {
            width: 45px;
            height: 45px;
        }
    }
}
